body{
    margin: 0;
    background-color: rgb(36, 36, 36);
    height: 100dvh;
}
.fundo{
    background-image: url('hogwarts-harry-1920x1200-13694.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;


}

h1{
    color: azure;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
    display: flex;
    color: white;
    font-size: 30px;
}
a:hover{
    color: blueviolet;
    cursor: pointer;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    
}
.paginas{
    display: flex;
    gap: 20px;
}
.telefone{
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.pai{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50dvh;
}
.zap{
    position: fixed;
    right: 20px;
    bottom: 40px;
    font-size: 45px;
    border-radius: 50%;
    padding: 10px;
}
.zap:hover{
    color: green;
}
.dropdown{
    text-decoration: none;
    display: flex;
    color: white;
    font-size: 30px;
    display: none;
    align-items: center;
    flex-direction: column;
}
.dropdown > div{
   display: none;
   flex-direction: column;
   position: absolute;
   background-color: rgb(0, 0, 0);
}
.dropdown:hover > div {
    display: flex;
}
article > h1{
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 0;
}

@media(max-width:550px){
    header{
        padding: 0px;
        justify-content: space-around;
    } 
    .dropdown{
        display: flex;
    }
    .paginas > a {
        display: none;
    }
}
